---
import MainLayout from "../../layouts/MainLayout.astro"
import TopImage from "../../components/TopImage.astro"
import ContentLayout from "../../layouts/ContentLayout.astro"
import H2 from "../../components/H2.astro"
import P from "../../components/P.astro"
import image from "../../images/1.jpg"

const overview = `
Not everyone has a problem with Marijuana. I want to be clear. Some people can smoke casually without developing an addiction. But, it would be a mistake to assume yourself as one of those people. For those of us who cannot control our use, identifying the addiction in one's self can be tremendously difficult. Marijuana is deceptive. In my experience, marijuana was the most difficult addiction I delt with, and it's deceptive nature added tons of complexity. The following are 3 ways marijuana deceives addicts into continuing to use the drug, despite negative consequences.
`

const section1 = `
A lot of drugs have obvious physical tells. A meth addict can be spotted from a mile away, but marijuana harms gradually, over a long period of time.  It is a perfect balance. Marijuana is harmful, but it is not harmful enough to cause immediate concern. We can easily justify away the damage (or ignore it altogether) because the evidence is not readily seen. Here is a good mental practice I use as a reminder. Let's imagine for the next week you blew all your smoke through a straw. What would that straw look like at the end of the week? What would it smell like? I can already smell it. I can feel myself scrubbing globs of resin from my fingers. If you ever doubt the damage done to your body by smoking marijuana, remember what your bowl looked like the last time you scaped it.
`

const section2 = `
The best enemies disguise themselves as friends. We've create memories with marijuana. Some of our closest moments with others involved marijuana. It creates an air of nostalgia. Marijuana has a way of distorting our perception of the past. All we can remember is the warm, friendly moments. The good times. Our bad moments with marijuana are blurred behind the smoke and are stored deep within our mental vault. The way in which marijuana shapes our view of itself is deceptive. It paints itself out to be the solution to all of our problems. We become more dependent on it as our savior, and we find ourselves in a place where we cannot enjoy life without it.
`

const section3 = `
At first, marijuana is just an activity. It's something we do on the weekends with our friends. We do it to have fun and feel good. Nobody smokes for the first time with the intention of developing a lifelong habit. Like weeds in a garden, marijuana slowly encroaches on every aspect of our lives. Our weekends are filled with it. Our relationships are centered around it. It creeps in and takes root. At some point, marijuana stops being a recreational activity, and embeds itself into our core identity. It becomes a part of us and it can be extremely difficult to uproot. Take a look at your life. How many people have you seen smoke weed in your life? How many of those people still smoke weed? Most of them will continue to smoke weed for the rest of their life.
`

const summary = `
Marijuana is a deceptive drug. It presents itself as harmless and does just enough damage to go unnoticed. It does not announce its intentions as the front door, rather it conceals its efforts and its negative consequences can be easily ignored. It becomes a nostalgic pastime and makes big, empty promises. Eventually, we become dependent on it to get any enjoyment out of life. Marijuana becomes a part of us, and we slowly integrate it into our core identity. These are some major aspects that make quitting the drug extremely challenging. I believe in everyone's capacity to change, and if I did it, so can you. Thank you so much for your time, I appreciate you deeply.
`
---

<MainLayout title={"Blunt Truths"} banner={"Blunt Truths"}>
  <div class="justify-between">
    <TopImage
      image={image}
      title={"The Deceptive Nature of Marijuana"}
      sub={"3 ways marijuana decieves addicts"}
      color={"#333333"}
    />
    <ContentLayout>
      <div class="p-4">
        <H2 text={"Overview"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section1} />
        <H2 text={"1. Marijuana Harms Beneath the Surface"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section1} />
        <H2 text={"2. Marijuana is Friendly"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section2} />
        <H2 text={"3. Marijuana Takes Root in our Identity"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section3} />
        <H2 text={"Summary"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={summary} />
      </div>
    </ContentLayout>
  </div>
</MainLayout>
