---
import MainLayout from "../../layouts/MainLayout.astro"
import TopImage from "../../components/TopImage.astro"
import ContentLayout from "../../layouts/ContentLayout.astro"
import H2 from "../../components/H2.astro"
import P from "../../components/P.astro"

const heroImage = "../../assets/Leaf.png"
const section1 = `
    Our loved ones are the first impacted by our addiction.
    They may not be perfect, but their love for us makes it difficult for them to remain silent.
    Their critisism is their way of trying to help us avoid the long-term consequences of our actions.
    Our natural response is to defend our addiction.
    We may use anger to intimidate others.
    We may also incite guilt so others feel pity for us.
    These are stradegies to train those around us to leave us and our addiction alone.
    If your loved ones show concern about your repeated behaviour, and you feel the need to defend yourself, you might be struggling with an addiction.
`
const section2 = `
    Our finances are a direct reflection of what we value.
    By default, it is easy to spend money without thinking.
    We all want the quickest path to feeling good in the moment.
    Your bank account does not lie.
    Where is all your money going?
    Have you sacraficed planning for your future in order to get high?
    Have you mentally avoided this topic or justified your expenses with an excuse?
    I used to tell myself, "I worked hard for my money, why shouldn't I get to enjoy some of it?"
    Excuses like this are just tools we use to continue our use guilt-free.
    If we truly faced our actions and their consequences, we would feel bad, which completely contradicts why we use in the first place.
`

const section3 = `
    Our routines reveal our character.
    Every day, we go through multiple transitions, and these transitions are key to discovering what we value.
    We transition from being asleep to being awake. We transition from the shower into our bedroom. We transition from home to work.
    What is the first thing you do when you transition into a safe place where your actions are not known to others?
    What do you miss the most when you transition into an area where others are watching?
    We all know the anwsers to these questions, and the way we behave when no one is watching is very telling.
`

const section4 = `
    Some people can struggle with an addiction and live a seemingly normal life.
    They've learned how to cover their tracks (for the most part) and survive.
    But, not everyone is a functional addict.
    Most addicts latch on to a host in their life and depend on them to survive. I was a leech, and my Mother was a host.
    It took her years to move on and stop enabling me. I would exploit her and guilt trip her.
    I'd say things like, "Just this once," or "I promise I won't do it again."
    So, who is the host in your life? Who are you depending on for your next meal?
    Who is the first person you call when the consequences of your drug-use set in?
    That's your host, and we are the leeches.
`

const section5 = `
    You may not be a person of faith, but as humans, we are forced to deal with the issue of God.
    There is something about drug addiction which brings about spritual experiences.
    In The Gospel, there is a story where Jesus eats with the sinners.
    God, as a man, placed himself amongst the most unworthy group of people.
    And in the middle of our drug addiction, you will find him doing the same.
    This aspect of addiction can go unspoken, but if you are activly using, you'll understand exactly what I mean.
    God will show up in the middle of the madness. He will not force us to change, but He will nudge us.
    He will create undeniable coincedences in our lives which will speak directly to us.
    This is evidence of a problem, and God is in pursuit of us to save us and get us out of danger.
`

const section6 = `
    Remember the first time you got high? I do, and all it took was a few hits.
    The first time only happens once, and we will never feel like that again.
    Our bodies are designed to filter our containmenets, and they get better with practice.
    This leads to tolerance, where we need more drugs to feel the same effect.
    If our body has become an expert at filtering out harmful chemicals, this is a clear sign of addiction.
    It's evidence we have overloaded ourselves to the point to where our biology is literally warring against our behavour.
    Pay attention to your body, it tells you what it likes, and what it doesn't like.
`

const section7 = `
    Imagine going a whole day without getting high. And not because you are working a 12-hour shift.
    Better yet, imagine staying sober.. on your birthday! Sounds like a drag, right?
    Believe it or not, a lot of people can go an entire month without taking a sip, let alone shooting up.
    No judgement, but sometimes our behaviour becomes normal and we assume everyone else is just like us.
    You don't have to use, and if you've forgotten what it's like to enjoy life without getting high, the truth is obvious.
`

const section8 = `
    Name the top 5 most important things in you're life. Now, do your actions reflect this?
    None of us are perfect, but if you find a huge gap between what you say you value, and what your actions say you value, this is a problem.
    As addicts, we do not want to feel bad about ourselves. So, we justify our behaviour and create a false mental image of ourselves.
    No one wants to face the how they negativly impact the world around them.
    But living in a lie is not the path to freedom.

`

const section9 = `
    If we were 100% honest with everyone around us about our behaviour, they would be floored.
    Addicts do outlandish things to stay high, and staying high 24/7 is an exaughsting task.
    So, we lie.
    You can't find an addict who doesn't have things they will take to the grave with them.
    It's just the nature of addiction. It drives us to do the unthinkable.
    We lie so much we actually start to believe it.
    Lies are like stepping stones which allow us to move forward in our addiction guilt-free.
    They become our safe-haven and caccoon us from the truth: we are broken people who cannot control their behaviour.
`

const section10 = `
    Ultimately, addiction leads to death. Engaging in an active addiction does tremendous damage to our physical and mental health.
    Our diet, our education, our fitness, all of these things take the back seat while we drive futher into oblivion.
    We neglect ourselves and those around us to squeeze more dopamine out of our day.
    We may attempt to secure things on the surface, but no amount of pull-ups is going to unravel the damage we are doing.
    Our choices will catch up to us, it is only a matter of time.
`
---

<MainLayout title={"Blunt Truths"} banner={"Blunt Truths"}>
  <div class="justify-between">
    <TopImage
      image={"../public/1.jpg"}
      title={"Evidence of a Deeper Problem"}
      sub={"10 signs of drug addiction"}
      color={"#333333"}
    />
    <ContentLayout>
      <div class="p-4">
        <H2 text={"1. Our Loved Ones Have Noticed"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section1} />
        <H2 text={"2. We Have Trouble With Our Finances"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section2} />
        <H2 text={"3. Our Day Revolves Around Using"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section3} />
        <H2 text={"4. We Leech Off Of Others"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section4} />
        <H2 text={"5. God is Pursuing Us"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section5} />
        <H2 text={"6. We Develop a Tolerance"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section6} />
        <H2 text={"7. We Cannot Imagine Life Without Using"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section7} />
        <H2 text={"8. We Stop Focusing On What Matters Most"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section8} />
        <H2 text={"9. We Lie to Ourselves and Others"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section9} />
        <H2 text={"10. We Compromise Our Health"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section10} />
      </div>
    </ContentLayout>
  </div>
</MainLayout>
