---
import MainLayout from "../../layouts/MainLayout.astro"
import TopImage from "../../components/TopImage.astro"
import ContentLayout from "../../layouts/ContentLayout.astro"
import H2 from "../../components/H2.astro"
import P from "../../components/P.astro"
import image from "../../images/2.jpg"

const overview = `
Marijuana and I are not friends, but it took a lot of self-reflection to discover that. You probably have better self-control than I do in this regard, but I want you to be sure. My aim here is to give you some tips on how to test your relationship with weed to determine if you are truly benefiting from its use. I used to genuinely believe that marijuana was having a positive influence on my life. I couldn't see how it was holding me back from reaching my full potential, but it was. Here are some tests I used to reveal my lack of self-control regarding my marijuana use.
`

const section1 = `
If I can go a whole weekend without smoking, I'm good, right? And not the weekend where you go on a business trip and are forced to stay sober. No, I mean the weekend where you have the freedom to be alone and do whatever you want. Can you do it? I couldn't. I would make it until 9 AM the first day and then crack. By 10 AM, a whole box of Lucky Charms would be devoured. And even worse, I would justify it. I would come up with some crazy excuse as to why I was allowed to go back on my word. And that's the point. I couldn't trust my future self to uphold my present-moment commitments. The future me would always have an excuse to smoke.
`

const section2 = `
I am relationship-centric, but my marijuana use jaded my ability to have the best relationships with people who didn't smoke. Here is a great example. I've been visiting my family every Sunday for years. Nowadays, I hang around for a few hours. I'm not in a rush (most of the time) to leave and get back home. But when I am smoking, this changes. I become more impatient, and I find myself thirsting for the chance to leave. Your family may smoke weed with you, and if they do, I challenge you to reach out in your life and spend time with someone who doesn't approve. While you are with them, watch how the desire to leave builds up. I would constantly cut things short just to get high. I cared more about staying high 24/7 than spending time with the people in my life.
`

const section3 = `
If anyone ever asks me, "How did you quit?" this is the answer. I threw things away. And guess what happened? The very next chance I got, I would buy more. Throwing things away reveals a deep problem within my character. I was at war with myself. One part of me truly wanted freedom, but the other part of me only cared about getting high. By throwing things away, I discovered this dynamic and ended up at some of my lowest points. I found that if I threw my stash in the trash, I would go back later to get it out. One time, I took a vape cart and threw it into a storm drain. The next day, in broad daylight, I came back with a stick and some gum to pull the cart out of the drain. Do yourself a favor, throw your stash away and see what happens. Just test it and see who you truly are.
`
---

<MainLayout title={"Blunt Truths"} banner={"Blunt Truths"}>
  <div class="justify-between">
    <TopImage
      image={image}
      title={"Is Marijuana Your Friend?"}
      sub={"3 ways to test your relationship with weed"}
      color={"#333333"}
    />
    <ContentLayout>
      <div class="p-4">
        <H2 text={"Overview"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={overview} />
        <H2 text={"1. Try Quitting for the Weekend"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section1} />
        <H2 text={"2. Spend Time with Someone Who Doesn't Approve"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section2} />
        <H2 text={"3. Throw Things Away"} />
        <P className="pt-2 pl-4 indent-4 pb-4" text={section3} />
      </div>
    </ContentLayout>
  </div>
</MainLayout>
