---
import P from "./P.astro"

interface Props {
  href: string
  title: string
  sub: string
  date: string
  image: string
}

const { href, title, sub, date, image } = Astro.props as Props
---

<style>
  #image-container {
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-color: #666666;
  }
</style>

<li class="rounded-lg p-4 pl-0">
  <a href={href} class="flex flex-col">
    <div>
      <div class="flex gap-4">
        <div class="flex flex-col">
          <div
            id="image-container"
            style={`background-image:url(${image});`}
            class="self-start rounded-full p-10"
          >
          </div>
          <p class="self-center text-xs italic">{date}</p>
        </div>
        <div class="flex flex-col">
          <p class="font-serif font-semibold underline">{title}</p>
          <p class="text-xs">{sub}</p>
        </div>
      </div>
    </div>
  </a>
</li>
